@import url("../css/reset.css");

* {
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {

    header {
        display: flex;
        flex-direction: row;
        width: 100vw;
    }

    nav {
        display: flex;
        width: 100vw;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: white;
    }

    a {
        background-color: rgb(74, 159, 199);
        margin: 3px;
        text-decoration: none;
        color: white;
    }

    p,
    footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(74, 159, 199);
        text-align: center;
        margin: 3px;
        color: white;
    }

    img {
        width: 100vw;
        height: auto;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 768px) {

    header {
        display: flex;
        flex-direction: row;
        width: 100vw;

    }

    a {
        background-color: rgb(74, 159, 199);
        margin: 3px;
        text-decoration: none;
        color: white;
    }
    section.artigo{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        color: white;
    }


    p,
    footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(74, 159, 199);
        text-align: center;
        margin: 3px;
        color: white;
    }

    img {
        width: 100vw;
        height: auto;
        margin-bottom: 10px;
    }
}


@media only screen and (min-width: 992px) {

    header {
        flex-direction: row;
    }

    a {
        background-color: rgb(74, 159, 199);
        margin: 3px;
        text-decoration: none;
        color: white;
    }

    section.artigo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        color: white;
    }
    p{
        display: flex;
        flex-direction: row;
        width: 49vw;
        background-color: rgb(74, 159, 199);
        color: white;
    }

    footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(74, 159, 199);
        text-align: center;
        margin: 3px;
        color: white;
    }
   

    img {
        width: 100vw;
        height: auto;
        margin-bottom: 10px;
    }

}